
nav {
	margin: 0px auto; 
	text-align: center;
}

nav ul ul {
	display: none;
	line-height : 10px;
	text-align: left;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	background : none;
	padding: 0 0px;
	border-radius: 0px;  
	list-style: none;
	position: relative;
	display: inline-table;
	font-family : Helvetica, sans-serif;
	font-size : 17px;
	line-height : 0px;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background:#B0C4DE ;
		}
			nav ul li:hover a {
				color: black;
			}
		
		nav ul li a {
			display: block; padding: 15px 78px;
			color: #4682B4; text-decoration: none;
			
		}
		
	nav ul ul {
		background:#FFF0F5; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
		nav ul ul li {
			float: none; 
			position: relative;
			
		}
			nav ul ul li a {
				padding: 13px 43px;
			
			}	
				nav ul ul li a:hover {
					background:#E6E6FA ;
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
		
